{% extends 'base.html' %}

{% block content %}
    <div class="container my-5 py-4 z-depth-1" style="display: flex; flex-direction: row; justify-content: center;" >
        <section class="text-center px-md-5 mx-md-5 dark-grey-text">
            <h3 class="font-weight-bold mb-4">Your new Password</h3>
            <div class="container" style="display: flex; flex-direction: row;">
                {% if password %}
                    {% for word in password %}
                        <p class="text-muted">{{word}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <a class="btn btn-purple btn-md ml-0 waves-effect waves-light" href="{% url 'index' %}" role="button">Create a new password</a>
        </section>
    </div>
{% endblock %}